{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Enter new password{% endblock title %}

{% block content %}
{% if validlink %}
<h2>Set a new password!</h2>
<form method="post">{% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit">
    Change my password</button>
</form>
{% else %}
<h2>Password reset failed</h2>
<p>The password reset link was invalid, possibly because it has already been
used. Please <a href="{% url 'password_reset' %}">request a new password reset</a>.</p>
{% endif %}
{% endblock content %}
