[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.6"
gunicorn = "==19.9.0"
whitenoise = "==4.1.4"

[requires]
python_version = "3.7"
