[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]
"autopep8" = "*"
pylint = "<2.0.0"

[requires]
python_version = "3.7"
