{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}! You are {{ user.age }} years old.
<p><a href="{% url 'logout' %}">Log Out</a></p>
<p><a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">View all articles</a></p>
<!-- new -->
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a> |
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock content %}